.heading img {

  max-width: 40px;
  max-height: 40px;
  margin-top: 5px;
}
.NewArrivals h4 {
  font-weight: 400;
}
.NewArrivals span {
  color: #e94560;
  font-size: 15px;
  font-weight: 500;
}
.NewArrivals .box img {
  z-index: 0;
      margin: 0 auto;
      padding: 0;
      max-width: 100%;
      height: 90px;
  border-radius: 5px;
}